<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
<body>
	
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
//     var linedata=[];
//     var i =0;
//     function runEvery10Sec() {
//         // 1000 * 10 = 10 秒钟
// {#        #}
//         //
//         i++;
//         $.post('/pointlat/', {'terminalid': '13826539847'}, function (data) {
// {#                console.log(data);#}
//             datas =  JSON.parse(data);
//             var oldCoordinate=datas["coordinates"];
//             oldCoordinate[0]=oldCoordinate[0]+0.00001*i
//             if(i==20){datas.accstate='false' }
//             if(datas.accstate=='true'){
//                 setTimeout(runEvery10Sec,200);
//                 var point = {"time":datas.time,"coordinates":oldCoordinate}
//                 linedata.push(point)
//             }
//             else{
//                 console.log(linedata)
//             }
//                  document.getElementById('box').innerHTML = datas
//         });
//     }
// 
//     runEvery10Sec();
//     var arr=["first","second","last"];
// 
// 　　arr.pop();//arr→["first","second"],arr.length=2;
// 
// {#　　arr.shift(arr[0])#}
//     console.log(arr)
	// listing1 = document.getElementsByClassName("glyphicon glyphicon-menu-hamburger");
// 	var listing1 = document.getElementById("box")
// 	listing1.style.height='100px';
	// listing1.style.setProperty('box-shadow','0 0 5px 0px red','important');

</script>
</body>
<p id="p1">Hello World!</p>
<p id="p2" class="ss" style="float: left;">Hello World!</p><span class="glyphicon glyphicon-menu-hamburger" id = "info" aria-hidden="true" ></span>

<script>
document.getElementById("p2").style.width="100px";
document.getElementById("p2").style.fontFamily="Arial";
// document.getElementsByClassName("ss").style.setProperty('box-shadow','0 0 5px 0px red','important');
document.getElementById("info").style.setProperty('box-shadow','0 0 7px 0px #C60000','important');
</script>

</html>