{% extends 'base.html' %}

{% block head %}
        <script src="{{ url_for('static',filename='dist/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='dist/threebox.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery-2.1.4/jquery.min.js') }}" ></script>
    <script src="{{ url_for('static',filename='dist/mapbox-gl-dev.js') }}"></script>
    <script src="{{ url_for('static',filename='dist/turf.min.js') }}" charset='utf-8'></script>
     <script src="{{ url_for('static',filename = 'dist/threebox.js') }}"></script>
    <link href="{{ url_for('static',filename='dist/mapbox-gl.css') }}" rel='stylesheet'/>
    <script src="{{ url_for('static',filename='dist/GLTFLoader.js') }}"></script>
    <script src="{{ url_for('static',filename = 'dist/OBJLoader.js') }}"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <script src="{{ url_for('static',filename = 'dist/MTLLoader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
        }

        #map {
            height: 93.2%;
            z-index: 0;
            position: absolute;
            left: 12.2%;
{#            top:1px;#}
            width: 87.5%;
            bottom: 0;
        }

    </style>
{% endblock %}

{% block title %}高精度地图监控平台{% endblock %}

{% block main %}
<style type='text/css'>
    .mapboxgl-popup {
        max-width: 200px;
    }

    #info {
        display: block;
        position: absolute;
        border: none;
        font-size: 12px;
        color: #222;
        background: #fff;
    }

    .overlay {
        box-shadow: 0 0 10px 2px rgba(31, 51, 73, .1);
        flex-direction: column;
        overflow-y:auto; overflow-x:auto;
    }

    .overlay .item.active .title,
    .overlay .item .title:hover {
        color: #8cc63f;
    }

    #list button {
        font: 700 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        background-color: #337AB7;
        color: #fff;
        display: inline-block;
        margin: 0;
        line-height: 18px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }

    .mapboxgl-popup-close-button {
        display: none;
    }

    .mapboxgl-popup-content {
        font: 300 15px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
        padding: 0;
        width: 140px;
        box-shadow: 0 0 10px 2px rgba(31, 51, 73, .25) !important;
    }

    .mapboxgl-popup-content-wrapper {
        padding: 1%;
    }

    .mapboxgl-popup-content h3 {
        background: #D0E9C6;
        /* color: #fff; */
        margin: 0;
        display: block;
        padding: 5px;
        border-radius: 2px 2px 0 0;
        font-weight: 300;
        /* margin-top: -15px; */
    }

    #showNumber p {
        font-size: 18px;
        font-weight: 300;
    }

    .mapboxgl-popup-content h4 {
        margin: 0;
        display: block;
        padding: 5px;
        font-weight: 300;
    }

    .mapboxgl-popup-content div {
        padding: 5px;

    }

    .mapboxgl-container .leaflet-marker-icon {
        cursor: pointer;
    }

    .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
        margin-top: 15px;
    }

    .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
        border-bottom-color: #91c949;
    }

{# <link href="dist/zoom.css"/>.top {#}
{#				height: 30%;#}
{#			}#}

    /* 	.bottom {
        height: 70%;
    } */

    #top {
        /* height: 300px; */
        display: block;
    }

    #list {
        /* margin: 8px; */
        width: 12%;
        float: left;
        box-shadow: 0 0 10px 2px rgba(31, 51, 73, .1);
        flex-direction: column;
        background: #ECECEC;
        height: 93% !important;
        position: absolute;
        bottom: 0;
        border-right: #0378AB 1px solid;
    }

    #center {
        margin-left: 7%;
        margin-right: 3%;
        position: relative;
        background: white;
        background: #ECECEC;
    }

    .item {
        border-radius: 3px 3px 3px 3px;
        background: white;
        display: block;
        border-bottom: 4px solid #ECECEC;
        padding: 1%;
        text-indent: 10%;
        text-decoration: none;
    }

    .item:last-child {
        border-bottom: none;
    }

    .item .title {
        display: block;
        font-weight: 700;
    }

    .item .title small {
        font-weight: 400;
    }
    .item1{height: 50%}
    .item.active .title,
    .item .title:hover {
        color: #8cc63f;
    }

    .item.active {
        background-color: #f8f8f8;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-left: 0;
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background: #00853e;
        border-radius: 0;
    }

    .clearfix {
        display: block;
    }

    .clearfix::after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .title {
        float: left;
        width: 75%;
    }

    #hide {
        width: 330px;
        float: left;
        box-shadow: 0 0 10px 2px rgba(31, 51, 73, .1);
        flex-direction: column;
        background: #ECECEC;
        text-indent: 10%;
        height: 98%;
    }

    #hide input {
        border: 0;
        outline: none;
        margin-top: 2%;
        background-color: rgba(0, 0, 0, 0);
    }
    #hide p{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    #hide input:focus {
        font-weight: 300;
        border: 1px solid #1DA1F2 ;
        outline: 1px solid #1DA1F2;
        border-radius: 3px 3px 3px 3px;
    }

    .row2 .text-primary {
        text-indent: 2em;
    }

    .state {
        width: 5%;
        height: 5%;
        float: left;
        border-radius: 100px;
    }
    .others p {margin-bottom: 2px !important;}
    .shortselect {
        background: #fafdfe;
        height: 28px;
        /* width:180px;  */
        line-height: 28px;
        border: 1px solid #9bc0dd;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    #line{
				margin-top: 3px !important;margin-bottom: 0px !important; height: 4% !important;line-height: 0% !important;
			}
</style>
<div id="list">
    <div id="center">
        <!-- <pre id='info'></pre> -->
        <div id="top">
            <div class="input-group input-group-sm" style="margin-top: 10%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"
                                                      aria-hidden="true"></span></span>
                <input type="text" id="search" class="form-control" placeholder="search" onkeypress="search()">
                <!--  -->
            </div>
            <div class="middle"
                 style="margin-bottom: 10%; margin-top: 10%; border-bottom: #0378AB 1px solid ;border-top: #0378AB 1px solid ; color: black;">
                <button id='add' style=" margin-top:10% ;margin-bottom: 10%;margin-right: 10%;float: left;" >
                    <a href="{{url_for('home.write',car_id = 'add')}}" style="color:white;" target="view_window">
                    <span class="glyphicon glyphicon-plus"></span>添加
                </a>
                </button>
                <div style="margin-top:15% ;margin-bottom: 10%;">
                    <p><span class="glyphicon glyphicon-bed" style="float: left;margin-right: 4%;"></span>
                    <p id="showNumber">0辆</p>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('home.downloads') }}">统计</a>
{#            <form action="{{ url_for('downloads') }}" method="get" enctype=multipart/form-data >#}
{#                <input type=submit value=统计>#}
{#        </form>#}
        </div>
        <div id='overlay' class='overlay'>
        </div>
    </div>
</div>

<div id='map'>
</div>
<div id="hide" style="position: fixed;left: 12%;top: 1%; display: none;">
    <div class="row1" style="height:5%;border-bottom: #0378AB 1px solid ;margin-left: 3%;margin-top: 5%;">
{#        <form id="form1" onsubmit="return false" action="##" method="post">#}
            <div class="input-group input-group-sm" style="float: left;width: 60%;">
                <!-- 隐藏判断是否添加 -->
                <!-- 名称修改 -->
                <p id="focusedInput" name="name"
                       style="text-indent: 0.5em;font-weight:700;font-size: 18px;"
                       type="text"
                       placeholder="name"
                       required
                ></p>
            </div>

            <!-- <button type="button" class="btn btn-success" style="float: right;">save</button> -->
            <!-- 关闭按钮 -->
            <a href="#" onclick="{document.getElementById('hide').style.display='none';}">
					<span class="glyphicon glyphicon-remove" style="float: right;margin-right: 4%;">
					 </span>
            </a>
            <!-- 编辑按钮 -->
            <a href="#" id ="ahref" title="编辑" target="view_window">
					<span class="glyphicon glyphicon-pencil" style="float: right;margin-right: 4%;">
					</span>
            </a>
    </div>
    <!-- 隐藏信息框 -->
    <div class="row2" style="height:90%; margin-top:3%; ">
        <div style="width: 42%;float: left;height: 97%;border-right: #8CBDD3 1px solid ;" class="left">
            <div>
                <p class="text-succcess">警告：</p>
                <p id="waring" class="text-primary">--</p>
            </div>
            <div>
                <p class="text-succcess">里程数：(km)</p>
                <p id="Mileage" class="text-primary">100</p>
            </div>
            <div>
                <p class="text-succcess">车速：(km/h)</p>
                <p id="Speed" class="text-primary">100</p>
            </div>
            <div>
                    <p class="text-succcess">修改状态：</p>
                    <div class="input-group input-group-sm" style="width: 50%; margin-left: 20%;">
                        <select id="changeState" name="state" class="shortselect">
                            <option value="在线">在线</option>
                            <option value="离线">离线</option>
                        </select>
                    </div>
            </div>
                <div class="others">
                <p class="text-succcess">终端号：</p>
                <p class="text-primary" id="terminalid" >1</p>
                <p class="text-succcess">司机：</p>
                <p class="text-primary" id ="driver">1</p>
                <p class="text-succcess">电话号码：</p>
                <p class="text-primary" id="driverphone" >1</p>

                <p class="text-succcess">始发车时间：</p>
                <p class="text-primary" id="starttime" >1</p>

                <p class="text-succcess">末班车时间：</p>
                <p class="text-primary" id="endtime" >1</p>

                <p class="text-succcess">型号：</p>
                <p class="text-primary" id="cartype" >1</p>

                <p class="text-succcess">运营单位：</p>
                <p class="text-primary" id="company" >1</p>

                <p class="text-succcess">车队：</p>
                <p class="text-primary" id="team" >1</p>
                </div>
{#            <form id="form2" onsubmit="return false" action="##" method="post">#}
{#                <div>#}
{#                    <input class="form-control" id ="driver" name="driver"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="司机"/>#}
{#                   <input class="form-control" id="driverphone" name="driverphone"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="号码"/>#}
{#                    <input class="form-control" id="starttime" name="starttime"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="始发车时间"/>#}
{#                    <input class="form-control" id="endtime" name="endtime"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="末班车时间"/>#}
{#                    <input class="form-control" id="cartype" name="cartype"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="型号"/>#}
{#                    <input class="form-control" id="company" name="company"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="运营单位"/>#}
{#                    <input class="form-control" id="team" name="team"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="车队"/>#}
{#                </div>#}
{#            </form>#}
        </div>
        <div style="width: 58%;float: right;height: 97%;">
            <div id="filter-time" style="100%">
                <a href="#">
                    <span class="glyphicon glyphicon-filter"></span>时间段
                </a>
            </div>
            <form id="form3" onsubmit="return false" action="#" method="post">
                <div id="times" style="border-top: #0378AB 1px solid ;border-bottom: #0378AB 1px solid ;margin-left: 5%;">
                    <div id="year" style="margin-bottom: 8%;margin-top: 8%;">
                        <input id="date" type="date" value=""/>
                    </div>
                    <div id="time" style="margin-bottom: 8%;">
                        <input type="time" id="time1" value=""/>
                        -
                        <input type="time" id="time2" value=""/>
                    </div>
                </div>
            </form>
            <div style="margin-top: 5%; ">
                <button id='replay' class="btn btn-success" onclick="showHistory()"><span class="glyphicon glyphicon-play"></span>轨迹</button>
            </div>
            <div id="history" style=" overflow-y:auto; overflow-x:auto; width: 100%;height: 71%;margin-top: 4%;">
            </div>
        </div>
    </div>
</div>
<script>
</script>
<script src="{{ url_for('static',filename='dist/area_map.js') }}"></script>
<script src="{{ url_for('static',filename='dist/roadL.js') }}"></script>
<script src="{{ url_for('static',filename='dist/ha_map.js') }}"></script>
<script src='{{ url_for('static',filename='dist/roadArrow.js') }}'></script>
<script src="{{ url_for('static',filename='dist/text.js') }}"></script>
<script src="{{ url_for('static',filename='dist/addlist.js') }}"></script>
<script src="{{ url_for('static',filename='dist/movecar.js') }}"></script>
<script src="{{ url_for('static',filename='dist/3Ddemo.js') }}"></script>
<script type="text/javascript">
</script>
<script>
    document.getElementById('date').valueAsDate = new Date();
    map.on('load', function() {list_car();});
$(document).ready(function(){
    $('#h3').attr('href','{{ url_for('home.detail') }}')
    $('#h3').text('平台管理')
  });


</script>
{% endblock %}
