{% extends 'base.html' %}

{% block head %}
        <script src="{{ url_for('static',filename='dist/jquery.slim.min.js') }}"></script>
    <script src="{{ url_for('static',filename='dist/threebox.js') }}"></script>
    <script src="{{ url_for('static',filename='jquery-2.1.4/jquery.min.js') }}" ></script>
    <script src="{{ url_for('static',filename='dist/mapbox-gl-dev.js') }}"></script>
    <script src="{{ url_for('static',filename='dist/turf.min.js') }}" charset='utf-8'></script>
     <script src="{{ url_for('static',filename = 'dist/threebox.js') }}"></script>
    <link href="{{ url_for('static',filename='dist/mapbox-gl.css') }}" rel='stylesheet'/>
    <script src="{{ url_for('static',filename='dist/GLTFLoader.js') }}"></script>
    <script src="{{ url_for('static',filename = 'dist/OBJLoader.js') }}"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.50.0/mapbox-gl.js'></script>
    <script src="{{ url_for('static',filename = 'dist/MTLLoader.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            height: 100%;
            overflow: hidden;
        }

        #map-box {
            height: 93.7%;
            z-index: 0;
            position: absolute;
            left: 14.7%;
            width: 84.5%;
            bottom: 1px;
{#            border-top: #909090 1.5px solid;#}
            background: white;
{#            border-right: #6575A9 1px solid;#}
            box-shadow: -1px 2px 10px #6575A9 inset !important;
        }
        #map {
            height: 70%;
            z-index: 0;
            margin-top: 2px;
            margin-right: 2px;
        }
     #mapdiv{
         border-top:solid 2px #6575A9 ;
         width: 100%;
         height: 30%;
         overflow-x:auto;
     }
    </style>
{% endblock %}

{% block title %}高精度地图监控平台{% endblock %}

{% block main %}
 <script>
 function getIP() {
     return '{{ ip }}';
 }
 </script>
<style type='text/css'>
    .mapboxgl-popup {
        max-width: 200px;
    }

    #info {
        display: block;
        position: absolute;
        border: none;
        font-size: 12px;
        color: #222;
        background: #fff;
    }

    .overlay {
        box-shadow: 0 0 10px 2px rgba(31, 51, 73, .1);
        flex-direction: column;
        overflow-y:auto; overflow-x:auto;
    }

    .overlay .item.active .title,
    .overlay .item .title:hover {
        color: #8cc63f;
    }

    #list button {
        font: 700 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
        background-color: #337AB7;
        color: #fff;
        display: inline-block;
        margin: 0;
        line-height: 18px;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }

    .mapboxgl-popup-close-button {
        display: none;
    }

    .mapboxgl-popup-content {
        font: 300 15px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
        padding: 0;
        width: 140px;
    }

    .mapboxgl-popup-content-wrapper {
        padding: 1%;
    }

    .mapboxgl-popup-content h4 {
        background: #E0A67E;
        /* color: #fff; */
        margin: 0;
        display: block;
        padding: 5px;
        border-radius: 2px 2px 0 0;
        font-weight: 200;
        /* margin-top: -15px; */
    }
    #showNumber p {
        font-size: 18px;
        font-weight: 300;
    }

    .mapboxgl-popup-content h5{
        margin: 0;
        display: block;
        padding: 5px;
        font-weight: 200;
    }
    .mapboxgl-popup-content div {
        padding: 5px;

    }
    .mapboxgl-container .leaflet-marker-icon {
        cursor: pointer;
    }

    .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
        margin-top: 15px;
    }

    .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
        border-bottom-color: #91c949;
    }

    #top {
        /* height: 300px; */
        display: block;
    }

    #list {
        /* margin: 8px; */
        width: 14.2%;
        float: left;
        flex-direction: column;
        background: #ECECEC;
        height: 93.8% !important;
        position: absolute;
        margin-left: 0.5%;
        bottom: 0;
{#        border-right: #6575A9 1px solid;#}
        box-shadow: 0px 1px 5px #6575A9 inset;
    }

    #center {
        margin-left: 7%;
        margin-right: 9%;
        position: relative;
        background: white;
        background: #ECECEC;
    }

    .item {
        border-radius: 3px 3px 3px 3px;
        background: white;
        display: block;
        border-bottom: 4px solid #ECECEC;
        padding: 1%;
        text-indent: 10%;
        height: 70px;
        text-decoration: none;
    }

    .item:last-child {
        border-bottom: none;
    }

    .item .title {
        display: block;
        font-weight: 700;
    }

    .item .title small {
        font-weight: 400;
    }
    .item1{height: 33%}
    .stateA{height:33%}
    .state2{height:33%}
    .item.active .title,
    .item .title:hover {
        color: #8cc63f;
    }

    .item.active {
        background-color: #f8f8f8;
    }

    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        border-left: 0;
        background: rgba(0, 0, 0, 0.1);
    }

    ::-webkit-scrollbar-track {
        background: none;
    }

    ::-webkit-scrollbar-thumb {
        background: #00853e;
        border-radius: 0;
    }

    .clearfix {
        display: block;
    }

    .clearfix::after {
        content: '.';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }

    .title {
        float: left;
        width: 75%;
    }

    #hide {
        width: 330px;
        float: left;
        box-shadow: 0px 1px 5px #6575A9 inset;
        flex-direction: column;
        background: #ECECEC;
        text-indent: 10%;
        height: 98%;
    }

    #hide input {
        border: 0;
        outline: none;
        margin-top: 2%;
        background-color: rgba(0, 0, 0, 0);
    }
    #hide p{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
    #hide input:focus {
        font-weight: 300;
        border: 1px solid #1DA1F2 ;
        outline: 1px solid #1DA1F2;
        border-radius: 3px 3px 3px 3px;
    }

    .row2 .text-primary {
        text-indent: 2em;
    }

    .state {
        width: 5%;
        height: 5%;
        float: left;
        border-radius: 100px;
    }
    .stateB {
        float: left;
        width: 50%;

    }
    .stateA  a{
        float: right;
        margin-right: 8px;
    }
    .others p {margin-bottom: 2px !important;}
    .shortselect {
        background: #fafdfe;
        height: 28px;
        /* width:180px;  */
        line-height: 28px;
        border: 1px solid #9bc0dd;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
    }
    #line{
				margin-top: 3px !important;margin-bottom: 0px !important; height: 4% !important;line-height: 0% !important;
			}
    body{background: #ECECEC;
     box-shadow: 0 0 10px 3px #354B91 inset;
    }
.navbar-collapse.collapse {
    display: block!important;
    height: 40px !important;}

</style>
<div id="list">
    <div id="center">
        <!-- <pre id='info'></pre> -->
        <div id="top">
            <div class="input-group input-group-sm" style="margin-top: 10%;">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"
                                                      aria-hidden="true"></span></span>
                <input type="text" id="search" class="form-control" placeholder="search" onkeypress="search()">
                <!--  -->
            </div>
            <div class="middle"
                 style="margin-bottom: 10%; margin-top: 10%; border-bottom: #0378AB 1px solid ;border-top: #0378AB 1px solid ; color: black;">
                <button id='add' style=" margin-top:10% ;margin-bottom: 10%;margin-right: 10%;float: left;" >
{#                    <a href="{{url_for('home.write',car_id = 'add')}}" style="color:white;">#}
                    <span class="glyphicon glyphicon-plus"></span>添加
                </a>
                </button>
                <div style="margin-top:15% ;margin-bottom: 10%;">
                    <p><span class="glyphicon glyphicon-bed" style="float: left;margin-right: 4%;"></span>
                    <p id="showNumber">0辆</p>
                    </p>
                </div>
            </div>
        </div>
        <div>
            <a href="{{ url_for('home.downloads') }}">统计</a>
        </div>
        <div id='overlay' class='overlay'>
        </div>
    </div>
</div>
<div id="map-box">
    <div id='map'>
    </div>
    <div id="mapdiv">
        <section class="content" id="showcontent">
            <div class="row">
                <div class="col-md-12">
                    <div class="box-body table-responsive no-padding">
                        <table class="table table-hover">
                            <tbody>
                            <tr style="background:#ECECEC;">
                                <th></th>
                                <th>车牌号</th>
                                <th>终端id</th>
                                <th>司机</th>
                                <th>电话号码</th>
                                <th>始发车时间</th>
                                <th>末班车时间</th>
                                <th>运营单位</th>
                                <th>型号</th>
                                <th>车队</th>
                            </tr>
                            {% for carInfo in dataOrder %}
                                <tr>
                                   <td></td>
                                    <td>{{ carInfo.carname }}</td>
                                    <td>{{ carInfo.terminalid }}</td>
                                    <td>{{ carInfo.driver }}</td>
                                    <td>{{ carInfo.driverphone }}</td>
                                    <td>{{ carInfo.starttime }}</td>
                                    <td>{{ carInfo.endtime }}</td>
                                    <td>{{ carInfo.company }}</td>
                                    <td>{{ carInfo.cartyoe }}</td>
                                    <td>{{ carInfo.team }}</td>

                                </tr>
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="hide" style="position: fixed;left: 14%;top: 1%; display: none;">
    <div class="row1" style="height:5%;border-bottom: #0378AB 1px solid ;margin-left: 3%;margin-top: 5%;">
{#        <form id="form1" onsubmit="return false" action="##" method="post">#}
            <div class="input-group input-group-sm" style="float: left;width: 60%;">
                <!-- 隐藏判断是否添加 -->
                <!-- 名称修改 -->
                <p id="focusedInput" name="name"
                       style="text-indent: 0.5em;font-weight:700;font-size: 18px;"
                       type="text"
                       placeholder="name"
                       required
                ></p>
            </div>

            <!-- <button type="button" class="btn btn-success" style="float: right;">save</button> -->
            <!-- 关闭按钮 -->
            <a href="javascript:void(0);" onclick="{document.getElementById('hide').style.display='none';}">
					<span class="glyphicon glyphicon-remove" style="float: right;margin-right: 4%;">
					 </span>
            </a>
            <!-- 编辑按钮 -->
            <a href="javascript:void(0);" id ="ahref" title="编辑" onclick="a()">
					<span class="glyphicon glyphicon-pencil" style="float: right;margin-right: 4%;">
					</span>
            </a>
    </div>
    <!-- 隐藏信息框 -->
    <div class="row2" style="height:90%; margin-top:3%; ">
        <div style="width: 42%;float: left;height: 97%;border-right: #8CBDD3 1px solid ;" class="left">
            <div>
                <p class="text-succcess">警告：</p>
                <p id="waring" class="text-primary">--</p>
            </div>
            <div>
                <p class="text-succcess">里程数：(km)</p>
                <p id="Mileage" class="text-primary">100</p>
            </div>
            <div>
                <p class="text-succcess">车速：(km/h)</p>
                <p id="Speed" class="text-primary">100</p>
            </div>
{#            <div>#}
{#                    <p class="text-succcess">修改状态：</p>#}
{#                    <div class="input-group input-group-sm" style="width: 50%; margin-left: 20%;">#}
{#                        <select id="changeState" name="state" class="shortselect">#}
{#                            <option value="在线">在线</option>#}
{#                            <option value="离线">离线</option>#}
{#                        </select>#}
{#                    </div>#}
{#            </div>#}
                <div class="others">
                <p class="text-succcess">终端号：</p>
                <p class="text-primary" id="terminalid" >1</p>
                <p class="text-succcess">司机：</p>
                <p class="text-primary" id ="driver">1</p>
                <p class="text-succcess">电话号码：</p>
                <p class="text-primary" id="driverphone" >1</p>

                <p class="text-succcess">始发车时间：</p>
                <p class="text-primary" id="starttime" >1</p>

                <p class="text-succcess">末班车时间：</p>
                <p class="text-primary" id="endtime" >1</p>

                <p class="text-succcess">型号：</p>
                <p class="text-primary" id="cartype" >1</p>

                <p class="text-succcess">运营单位：</p>
                <p class="text-primary" id="company" >1</p>
                <p class="text-succcess">车队：</p>
                <p class="text-primary" id="team" >1</p>
                </div>
{#            <form id="form2" onsubmit="return false" action="##" method="post">#}
{#                <div>#}
{#                    <input class="form-control" id ="driver" name="driver"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="司机"/>#}
{#                   <input class="form-control" id="driverphone" name="driverphone"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="号码"/>#}
{#                    <input class="form-control" id="starttime" name="starttime"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="始发车时间"/>#}
{#                    <input class="form-control" id="endtime" name="endtime"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="末班车时间"/>#}
{#                    <input class="form-control" id="cartype" name="cartype"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="型号"/>#}
{#                    <input class="form-control" id="company" name="company"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="运营单位"/>#}
{#                    <input class="form-control" id="team" name="team"#}
{#                       style="font-weight:300;font-size: 14px;margin-top: 3px;"#}
{#                       type="text"#}
{#                       placeholder="车队"/>#}
{#                </div>#}
{#            </form>#}
        </div>
        <div style="width: 58%;float: right;height: 97%;">
            <div id="filter-time" style="100%">
                <a href="javascript:void(0);">
                    <span class="glyphicon glyphicon-filter"></span>时间段
                </a>
            </div>
            <form id="form3" onsubmit="return false" action="#" method="post">
                <div id="times" style="border-top: #0378AB 1px solid ;border-bottom: #0378AB 1px solid ;margin-left: 5%;">
                    <div id="year" style="margin-bottom: 8%;margin-top: 8%;">
                        <input id="date" type="date" value=""/>
                    </div>
                    <div id="time" style="margin-bottom: 8%;">
                        <input type="time" id="time1" value="00:00"/>
                        -
                        <input type="time" id="time2" value="23:59"/>
                    </div>
                </div>
            </form>
            <div style="margin-top: 5%; ">
                <button id='replay' class="btn btn-success" onclick="showHistory()"><span class="glyphicon glyphicon-play"></span>轨迹</button>
            </div>
            <div id="history" style=" overflow-y:auto; overflow-x:auto; width: 100%;height: 71%;margin-top: 4%;">
            </div>
        </div>
    </div>
</div>
<script>
</script>
<script type="text/javascript" defer="defer"  src="{{ url_for('static',filename='dist/area_map.js') }}"></script>
<script type="text/javascript" defer="defer"  src="{{ url_for('static',filename='dist/roadL.js') }}"></script>
<script type="text/javascript" defer="defer"  src="{{ url_for('static',filename='dist/ha_map.js') }}"></script>
<script type="text/javascript" defer="defer"  src='{{ url_for('static',filename='dist/roadArrow.js') }}'></script>
<script type="text/javascript" defer="defer"  src="{{ url_for('static',filename='dist/text.js') }}"></script>
<script type="text/javascript" defer="defer"  src="{{ url_for('static',filename='dist/addlist.js') }}"></script>
<script type="text/javascript" defer="defer"  src="{{ url_for('static',filename='dist/movecar.js') }}"></script>
<script type="text/javascript" defer="defer"  src="{{ url_for('static',filename='dist/3Ddemo.js') }}"></script>
<script type="text/javascript">
 $(document).ready(function(){
        $('#h3').attr('href','{{ url_for('home.detail') }}')
        $('small').html('平台管理')
    });
       function a1(terminalid) {
           $.post("/write/", {'terminalid':terminalid}, function (data) {
               var dataJson=JSON.parse(data);
            $("#myModalLabel").text("修改");
            $("#isAdd").val("no");
            $("#name").val(dataJson.carname);
            $("#terminalid2").val(dataJson.terminalid);
            $("#company2").val(dataJson.company);
            $("#starttime2").val(dataJson.starttime);
            $("#endtime2").val(dataJson.endtime);
            $("#cartype2").val(dataJson.cartype);
            $("#changeState2").val(dataJson.carstate);
            $("#driver2").val(dataJson.driver);
            $("#driverphone2").val(dataJson.driverphone);
            $("#team2").val(dataJson.team);
            $("#id").val(dataJson.id);
            $('#myModal').modal();
             });

 };
        function deleteInfo(carName) {
            var postdata = {"carname": carName};
            var r = confirm("确认删除!");
            if (r == true) {
                $.post("/delete/", postdata, function (data) {
                    if (data == "删除成功") {
                        alert("删除成功！")
                        window.location.reload();
                    }
                    else {
                        alert("删除失败！")
                    }
                });
            }
            else {
                return;
            }
        }
</script>

{% endblock %}
